<ion-content class="ion-padding">

  <topo-login title="Cadastrar usuário"></topo-login>

  
  <form [formGroup]="loginForm" (submit)="createUser()">
    <ion-item>
      <ion-icon name="person" slot="start" color="financas"></ion-icon>
      <ion-input formControlName="nome" type="text" placeholder="Nome" autofocus="true"></ion-input>
    </ion-item><br>

    <ion-item>
      <ion-icon name="person" slot="start" color="financas"></ion-icon>
      <ion-input formControlName="snome" type="email" placeholder="Sobrenome"></ion-input>
    </ion-item><br>

    <ion-item>
      <ion-icon name="mail" slot="start" color="financas"></ion-icon>
      <ion-input formControlName="email" type="email" placeholder="E-mail"></ion-input>
    </ion-item><br>

    <ion-item>
      <ion-icon name="lock-closed" slot="start" color="financas"></ion-icon>
      <ion-input formControlName="password" type="password" placeholder="Senha"></ion-input>
    </ion-item><br>

    <ion-item>
      <ion-icon name="lock-closed" slot="start" color="financas"></ion-icon>
      <ion-input formControlName="confirm_pass" type="confirm_pass" placeholder="Confirmar"></ion-input>
    </ion-item><br><br>
    <ion-button [disabled]="loginForm.invalid" type="submit" expand="block" color="financas" fill="clear">Enviar</ion-button>
  
  </form><br><br>
</ion-content>
