<div id="logo-div">
  <ion-text color="medium">
    <p>{{title ? title : ''}}</p>
    <img width="150" height="150" src="../../../assets/icon/money_logo.png">
    <h3>iFinanças</h3>
  </ion-text>
</div>