<ion-header>
  <ion-toolbar>
    <ion-title>Cadastro de Contas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding"><br>
  <form [formGroup]="contasForm" (submit)="registrarConta()">
    <ion-item>
      <ion-icon name="person" slot="start" color="financas"></ion-icon>
      <ion-input formControlName="parceiro" placeholder="Parceiro Comercial" autofocus="true"></ion-input>
    </ion-item><br>

    <ion-item>
      <ion-icon name="document" slot="start" color="financas"></ion-icon>
      <ion-input formControlName="descricao" placeholder="Descrição"></ion-input>
    </ion-item><br>

    <ion-item>
      <ion-icon name="wallet" slot="start" color="financas"></ion-icon>
      <ion-input formControlName="valor" type="number" placeholder="Valor"></ion-input>
    </ion-item><br><br>

    <ion-radio-group formControlName="tipo">
      <ion-item>
        <ion-label>A pagar</ion-label>
        <ion-radio slot="start" value="pagar"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>A receber</ion-label>
        <ion-radio slot="start" value="receber"></ion-radio>
      </ion-item>
    </ion-radio-group><br><br>
  
    <ion-button [disabled]="contasForm.invalid" type="submit" expand="block" color="financas" fill="clear">Enviar</ion-button>
  </form><br><br>
</ion-content>
